<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
<listeners>
    <listener class-name="listeners.CustomListeners" />
    <listener class-name="listeners.ExtentReporterNG" />
  </listeners>
  <parameter name="grid" value="yes"/>
  <test name="Test1">
  <parameter name="excelName" value="data.xls"/>
	<parameter name="excelSheet" value="Sheet1"/>
    <classes>
      <class name="test.LoginPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
